body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

.info {
  background-color: aqua;

  padding: 50px;
}

.about-us {
  padding: 30px;
}
h2.about-us {
  text-align: center;
}
.highlight {
  color: #ff6347;
}
